<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
    <script src="{{ url_for('static', filename='loading.js') }}" defer></script>
    <title>Image Text Extractor</title>
</head>
<body>
    <main class="main">
        <div class="title-nav">
            <h3><a class="main-link" href="{{url_for('index')}}">Home</a></h3>
        </div>
        {% if (title) %}
            <h1 class="main-title">{{title}}</h1>
        {% endif %}

        {% block content %}{% endblock %}
        <p class="copyright"> &copy; 2023 Sam Khodak</p>
    </main> 
</body>
</html>