/* ______________________________________________________

   Template styles 
   ______________________________________________________
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: white;
}

.main {
    background-color: white;
    color: black;
    width: clamp(20rem, 80%, 80rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-nav {
    margin: 8rem 0 0 0;
    display: flex;
    justify-content: end;
}

.main-title {
    white-space: nowrap;
    margin: 2rem 0 4rem 0;
    font-size: clamp(2rem, 6vw, 4rem)
}

.home-footer {
    display: flex;
    justify-content: end;
}

.main-link {
    color: black;
    text-decoration: none;
    transition: all 300ms ease-in-out;

    &:visited {
        color: gray;
    }

    &:hover {
        color: black;
        text-decoration: underline;
    }
}

#loading-blur {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(4px);
}

.loading-icon {
    border: 8px dotted rgba(0, 0, 0, 0.6);
    /* border-radius: 100%; */
    width: 70px;
    height: 70px;
    animation: spin 1.3s linear infinite;
    position: fixed;
    top: 42vh;
    left: 48vw;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.copyright {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-bottom: 8rem;
}




/* ______________________________________________________

   Index styles 
   ______________________________________________________
*/

.image-input::file-selector-button {
    margin: 2rem 1rem 2rem 0;
    padding: 2rem 2rem;
    border: 3px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 6px;
    transition: ease-in-out 300ms;
    cursor: pointer;

}

.image-input::file-selector-button:hover {
    border-color: black;
}

.card-container {
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
    border-radius: 10px;
}

.card-header {
    padding: 2.5rem 3rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: 600;
    font-size: 1.7rem;
}

.card-content {
    padding: 5rem 5rem 6rem 5rem;
}

.card-text {
    font-weight: 300;
    font-size: 1.9rem;
}

.card-footer {
    padding: 3rem;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.centering-wrapper {
    width: max-content;
    margin: auto;
}

.button {
    background: white;
    color: rgba(0, 0, 0, 0.5);
    border: solid 3px rgba(0, 0, 0, 0.25);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 1.4rem;
    height: 63px;
    width: min-content;
    white-space: nowrap;
    border-radius: 30px;
    outline: none;
    text-decoration: none;
    transition: ease-in-out 300ms;

    &:hover {
        border-color: black;
        color: black;
    }
}





/* ______________________________________________________

   Index styles 
   ______________________________________________________
*/

.error-message {
    font-size: 1.5rem;
    font-weight: 600;
    color: darkred;
    display: block;
    margin-bottom: 5rem;
}

#original-image {
    display: block;
    margin: auto;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px, 
                rgba(0, 0, 0, 0.3) 0px 0px 1px 0px;
}

.footer-form-row {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}

.footer-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    width: 100%;
    min-width: 300px;
    max-width: 45%;
}

.form-label {
    font-size: 1.5rem;
    font-weight: 300;
    display: block;
}

.translate-row {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
}

.language-select {
    max-width: fit-content;
    font-size: 1.4rem;
    padding: 1rem 0 1rem 1rem;
    border-radius: 3px;
    border: solid 3px rgba(0, 0, 0, 0.25);
    background: white;
    color: rgba(0, 0, 0, 0.7);
    transition: all 300ms ease-in-out;

    &:focus {
        color: black;
        outline: none;
    }

    &:hover {
        color: black;
        border-color: black;
    }
}




/* ______________________________________________________

   Translated and Romanized styles 
   ______________________________________________________
*/

.text-button-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}




/* ______________________________________________________

   404_not_found styles 
   ______________________________________________________
*/

.error-banner {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    max-width: 570px;
    padding: 3rem;
    margin: 10vw auto 3rem auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px, 
                rgba(0, 0, 0, 0.3) 0px 0px 1px 0px;
}