{% extends "layout.html" %}
{% block content %}
    <div class="container-card">
        <form action="{{ url_for('results')}}" method="post" enctype = 'multipart/form-data'>
            <label for="image-input" class="form-label">Please upload an image to convert.</label>
            <div class="container-card">
                <div class="centering-wrapper">
                    <input type="file" class="image-input" id="image-input" name="image" accept="image/png, image/jpeg" required />
                </div>
            </div>
            <div class="button-row">
                <button type="submit" class="button">Convert</button>
                <button type="reset" class="button">Reset</button>
            </div>
        </form>
    </div>
{% endblock %}