{% extends "layout.html" %}
{% block content %}
    <div class="card-container">
        <form class="index-form" action="{{ url_for('results')}}" method="post" onsubmit="showLoadingIcon()" enctype = 'multipart/form-data'>
            <div class="card-header">
                <label for="image-input" class="card-title">Upload a jpg/png image to extract text from it.</label>
            </div>
            <div class="card-content">
                <div class="centering-wrapper">
                    <input type="file" class="image-input" id="image-input" name="image" accept="image/png, image/jpeg" required />
                </div>
            </div>
            <div class="card-footer">
                <div class="centering-wrapper">
                    <button type="submit" class="button">EXTRACT</button>
                </div>
            </div>
        </form>
    </div>
    <div id="loading-blur">
        <div class="loading-icon"></div>
    </div>
{% endblock %}