{% extends "layout.html" %}
{% block content %}
    <div>

        <div class="card-container">
            <div class="card-header">
                <label class="card-title">Original text</label>
            </div>
            <div class="card-content">
                <p class="card-text">{{extracted_text}}</p>
            </div>
        </div>

        <div class="card-container">
            <div class="card-header">
                <label class="card-title">Translated text</label>
            </div>
            <div class="card-content">
                <p class="card-text">{{translated_text}}</p>
            </div>

                <div class="card-footer">
                    <div class="text-button-row">
                        {% if (detected_language) %}
                            <p class="form-label">The image's language was detected as {{detected_language}}.</p>
                        {% endif %}
                        <a class="button" href="{{url_for('results')}}">BACK TO RESULTS</a>
                    </div>
                </div>
        </div>


    </div>
{% endblock %}